.link {
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &:focus {
    outline: 2px solid gray;
  }
}
